body{
   background-color: #E83232;
}

.container{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    flex-direction:row;
    margin-top:10px;
    gap:10;  
}

.tituloCont{
  display:flex;
  justify-content:center;
  align-items:center;
  padding:20;
  margin: 20px;
}

.titulo{
  width:100%;
  height:50;
}

.buscadorCont{
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width:100%;
  padding:8;
}

.buscadorInput{
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 16px;
  border-radius: 15px;
  padding: 10px;
  background-color: #E0DFD5;
  border:2px solid black;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.cardCont{
  display:grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 10px;
  border:2px solid black;
  background-color: #E8E9EB;
}

.cardImagen{
  display: flex;    
  align-items: center;    
  border-width: 1;    
  border-color: black;       
  overflow: hidden;
  border-radius:20
}

.cardButton{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F09D51;
}

/* .bug{
  border: 2px solid red;
} */